/*
 * dark themed stylesheet for myschoolapp  http://kbd.fi/msad
 * Copyright (C) 2017  Keyboard Fire <andy@keyboardfire.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/*
 * TODO (aside from partial/no support items on kbd.fi/msad
 *  - calendars could use a little work (e.g. the date field in official notes)
 */

$red:     #ab4642;
$orange:  #dc9656;
$yellow:  #f7ca88;
$green:   #a1b56c;
$cyan:    #86c1b9;
$blue:    #7cafc2;
$magenta: #ba8baf;
$violet:  #a16946;

$black:   #181818;
$grey1:   #282828;
$grey2:   #383838;
$grey3:   #585858;
$grey4:   #b8b8b8;
$white:   #d8d8d8;

@-moz-document domain("myschoolapp.com") {

/* get rid of general awfulness */
* {
    font-family: 'Noto Sans', sans-serif !important;
    transition: none !important;
    -o-transition: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    text-shadow: none !important;
}

/* restore fontawesome */
.fa, .ui-jqgrid thead .sorting-desc > div > span, .ui-jqgrid thead .sorting-asc
> div > span, .caret, .pagination .first a, .pagination .previous a,
.pagination .next a, .pagination .last a, .pagination
[ng-if="::directionLinks"] a, .nav.nav-tabs > li > a .bb-tab-close-icon,
.nav.nav-tabs ul.dropdown-menu > li > a .bb-tab-close-icon,
.nav-tabs.nav-justified > li > a .bb-tab-close-icon, .nav-tabs.nav-justified
ul.dropdown-menu > li > a .bb-tab-close-icon, .iti-arrow, .bb-icon {
    font-family: FontAwesome !important;
}

/* restore icomoon */
.p3icon-laptop, .p3icon-desktop, .p3icon-email, .p3icon-phone, .p3icon-home,
.p3icon-file, .p3icon-radioOn, .p3icon-sortOff, .p3icon-sortUp,
.p3icon-sortDown, .p3icon-warning, .p3icon-shareIt, .p3icon-mail,
.p3icon-share, .p3icon-reviewReady, .p3icon-processing, .p3icon-reports,
.p3icon-events, .p3icon-eventList, .p3icon-sideArrow, .p3icon-leftArrow,
.p3icon-upArrow, .p3icon-downArrow, .p3icon-sms, .p3icon-assignmentUpload,
.p3icon-transcript, .p3icon-learningProfile, .p3icon-tree, .p3icon-import,
.p3icon-map, .p3icon-topicText, .p3icon-image, .p3icon-affinity,
.p3icon-announcements, .p3icon-annualFund, .p3icon-topicAssignment,
.p3icon-topicAudio, .p3icon-businessIndex, .p3icon-topicDownload,
.p3icon-topicWidget, .p3icon-faq, .p3icon-forms, .p3icon-topicLink,
.p3icon-lists, .p3icon-navigation, .p3icon-news, .p3icon-pageTools,
.p3icon-topicPhoto, .p3icon-socialMedia, .p3icon-trivia, .p3icon-topicVideo,
.p3icon-WalignmentL, .p3icon-WalignmentC, .p3icon-WalignmentR,
.p3icon-WweightB, .p3icon-WstyleI, .p3icon-WdecoU, .p3icon-WdecoS,
.p3icon-notification, .p3icon-denied, .p3icon-education, .p3icon-business,
.p3icon-general, .p3icon-realtionships, .p3icon-emg, .p3icon-note, .p3icon-not,
.p3icon-noteDetail, .p3icon-reportCard, .p3icon-polls, .p3icon-ppArchive,
.p3icon-archive, .p3icon-button, .p3icon-spacer, .p3icon-notification-2,
.p3icon-line, .p3icon-pageTitle, .p3icon-tablet, .p3icon-mobile,
.p3icon-display, .p3icon-officalNote, .p3icon-addNew, .p3icon-stream,
.p3icon-directory, .p3icon-searchWhite, .p3icon-search, .p3icon-circleright,
.p3icon-ok, .p3icon-check, .p3icon-duplicate, .p3icon-series, .p3icon-setting,
.p3icon-remove, .p3icon-delete, .p3icon-edit, .p3icon-message,
.p3icon-calendar, .p3icon-trash, .p3icon-rss, .p3icon-lock, .p3icon-print,
.p3icon-radioOff, .p3icon-circleup, .p3icon-circledown, .p3icon-circleleft,
.p3icon-broadcast, .p3icon-phone-2, .p3icon-paperclip, .p3icon-upload,
.p3icon-user, .p3icon-preview, .p3icon-export, .p3icon-newspaper,
.p3icon-alarm, .p3icon-gmail, .p3icon-eletter, .p3icon-comment, .p3icon-help,
.p3icon-moreInfo, .p3icon-course1, .p3icon-course2, .p3icon-course3,
.p3icon-wrapRight, .p3icon-wrapLeft, .p3icon-besideRight, .p3icon-besideLeft,
.p3icon-sport, .p3icon-tally, .p3icon-considerations, .p3icon-offer,
.p3icon-scheduler, .p3icon-transportation, .p3icon-header, .p3icon-3col,
.p3icon-2colSplit, .p3icon-2colLeft, .p3icon-2colRight, .p3icon-2rowRight,
.p3icon-2rowLeft, .p3icon-topAlign, .p3icon-botAlign, .p3icon-logo,
.p3icon-pageContent, .p3icon-teamSchedule, .p3icon-teamPicker, .p3icon-sitemap,
.p3icon-miniSitemap, .p3icon-coursePicker, .p3icon-breadcrumb,
.p3icon-newsPaper, .p3icon-newspaper2, .p3icon-grid, .p3icon-store,
.p3icon-filter, .p3icon-stats, .p3icon-teamRoster, .p3icon-mobileMenu,
.p3icon-thinArrowLeft, .p3icon-up, .p3icon-down, .p3icon-waived,
.p3icon-requested, .p3icon-editAppearance2, .p3icon-whLogo, .p3icon-support,
.p3icon-play, .p3icon-addNote, .p3icon-refresh, .p3icon-googledrive,
.p3icon-dropbox, .p3icon-evernote, .p3icon-megaMenu {
    font-family: icomoon !important;
}

/* things that need border color fixed */
.nav.nav-tabs, .nav-tabs.nav-justified, #course-request-container .department-courses {
    border-color: $grey2;
}
.whiteContainer1, li.divider, hr, .bb-tile hr,
.calendar-list .bb-tile-content .bb-tile-content-section #myFilters .results .calendarHeader,
.calendar-list .bb-tile-content .bb-tile-content-section .selectHideCals,
.fc-unthemed td, .fc-unthemed tbody, .fc th, .fc td, .fc-widget-header,
#fc-list-view,
.input-group .btn,
.table thead tr th, .table tbody tr td,
.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th,
.table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td,
.bb-tile-content-section:not(:last-child),
.ui-widget-content,
.bb-card-actions {
    border-color: $grey3;
}
#site-nav ul.topnav li div.subnavtop {
    border-left-color: transparent !important;
    border-right-color: transparent !important;
}
.tooltip.top .tooltip-arrow {
    border-top-color: $grey4;
}
#media-viewer-grid .grid-item { border-color: $grey1; }
#media-viewer-grid .grid-item.active { border-color: $grey4; }

/* things that need background color fixed */
.thumbnail, .table .table,
#media-viewer .carousel-control,
.carousel-control.left, .carousel-control.right {
    background-color: transparent;
    background-image: none;
}

/* things that need text color fixed */
.subnavbar .nav > li > a:hover, .subnavbar .nav > .active > a:hover,
.bb-section-heading, .bb-page-heading, .bb-emphasized, .bb-headline,
.thumbnail .caption,
.calendar-list .nav-list > li,
.table > thead > tr > th,
.nav-filter h5,
div.token-input-dropdown p,
.popover-content,
.btn:hover, .btn:focus, .btn.focus,
#media-viewer .carousel-control {
    color: $white;
}
.bb-section-heading { white-space: nowrap; }

/* darkest black - default background */
body, .cal-layout .sidebar-nav-fixed, .modal-content {
    background-color: $black;
    border-color: $grey1;
    color: $white;
}

/* second darkest black - lighter background (status bars, sections) */
#site-login-main-wrapper,
.bb-tile .bb-tile-title, .bb-tile-content, .bb-action-bar, .bb-card,
table.table-sky thead,
.subnavbar .nav > .active > a, .subnavbar .nav > .active > a:hover,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.well,
#site-nav ul.topnav > li > a:hover,
.section-heading,
#fullCalView,
.modal-header, .modal-footer,
.thumbnail,
.conDefault,
.teaserBox,
.ui-widget-header, .ui-state-default, .ui-widget-content .ui-state-default,
.nav.nav-tabs > li.active > a,
.nav.nav-tabs > li.active > a:hover,
.nav.nav-tabs > li.active > a:focus,
.nav.nav-tabs ul.dropdown-menu > li.active > a,
.nav.nav-tabs ul.dropdown-menu > li.active > a:hover,
.nav.nav-tabs ul.dropdown-menu > li.active > a:focus,
.nav-tabs.nav-justified > li.active > a,
.nav-tabs.nav-justified > li.active > a:hover,
.nav-tabs.nav-justified > li.active > a:focus,
.nav-tabs.nav-justified ul.dropdown-menu > li.active > a,
.nav-tabs.nav-justified ul.dropdown-menu > li.active > a:hover,
.nav-tabs.nav-justified ul.dropdown-menu > li.active > a:focus,
#course-request-container .accordion-toggle,
#course-request-container .requested-courses .requested-course,
.workspace-footer {
    background-color: $grey1;
    background-image: none;
    border-color: $grey2;
    color: $white;
}

/* third darkest black - selection background */
.form-control, ul.token-input-list, ul.token-input-list li input,
.btn-primary, .btn-default, .bb-btn-secondary,
.fc-state-default, .fc-state-default .fc-button-inner,
.fc-event-skin,
.popContainerStraight,
.table-striped > tbody > tr:nth-of-type(2n+1), .table thead,
#courses #coursesContainer .row:nth-child(2n+1),
#courses #communitiesContainer .row:nth-child(2n+1),
#courses #advisoryContainer .row:nth-child(2n+1),
#courses #athleticsContainer .row:nth-child(2n+1),
.chCal-state-default, .chCal-state-default .chCal-button-inner,
.fc-unthemed .fc-today, .fc td.fc-today,
.containerFull.whiteContainer1,
.datelabel,
.nav.nav-tabs > li > a:hover, .nav-filter,
.fadeBox,
.sky-wait-mask,
.fc-widget-header .fc-agenda-divider-inner,
.breadcrumb {
    background-color: $grey2;
    background-image: none;
    border-color: $grey3;
    color: $white;
}

/* dropdowns, which are the same but with forced border */
div.token-input-dropdown,
.fc-state-active .fc-button-inner,
.tooltip-inner, .dropdown-menu,
.ui-widget.ui-widget-content,
.popover,
li.token-input-token /* not actually a dropdown but who cares */ {
    background-color: $grey2;
    background-image: none;
    border: 1px solid $grey3;
    color: $white;
}

/* inversion of previous - mostly all hovers and actives */
.btn-default:hover, .btn-default.active,
.btn-default:focus, .btn-default.focus,
.open > .dropdown-toggle.btn-default,
.bb-btn-primary:hover, .bb-btn-primary.active,
.bb-btn-primary:focus, .bb-btn-primary.focus,
.open > .dropdown-toggle.bb-btn-primary,
.bb-btn-secondary:hover, .bb-btn-secondary.active,
.bb-btn-secondary:focus, .bb-btn-secondary.focus,
.open > .dropdown-toggle.bb-btn-secondary,
.bb-context-menu .dropdown-menu li > a:hover,
.bb-context-menu .dropdown-menu li > a:focus,
.bb-context-menu .dropdown-menu .bb-submenu .panel-body a:hover,
.bb-context-menu .dropdown-menu .bb-submenu .panel-body a:focus,
.bb-context-menu .dropdown-menu .bb-dropdown-item > a:hover,
.bb-context-menu .dropdown-menu .bb-dropdown-item > a:focus,
.bb-context-menu .dropdown-menu .bb-dropdown-item > .bb-btn-secondary:hover,
.bb-context-menu .dropdown-menu .bb-dropdown-item > .bb-btn-secondary:focus,
.dropdown-menu bb-context-menu-item li > a:hover,
.dropdown-menu bb-context-menu-item li > a:focus,
.dropdown-menu bb-context-menu-item .bb-submenu .panel-body a:hover,
.dropdown-menu bb-context-menu-item .bb-submenu .panel-body a:focus,
.dropdown-menu bb-context-menu-item .bb-dropdown-item > a:hover,
.dropdown-menu bb-context-menu-item .bb-dropdown-item > a:focus,
.dropdown-menu bb-context-menu-item .bb-dropdown-item > .bb-btn-secondary:hover,
.dropdown-menu bb-context-menu-item .bb-dropdown-item > .bb-btn-secondary:focus,
.bb-dropdown-menu.dropdown-menu li > a:hover,
.bb-dropdown-menu.dropdown-menu li > a:focus,
.bb-dropdown-menu.dropdown-menu .bb-submenu .panel-body a:hover,
.bb-dropdown-menu.dropdown-menu .bb-submenu .panel-body a:focus,
.bb-dropdown-menu.dropdown-menu .bb-dropdown-item > a:hover,
.bb-dropdown-menu.dropdown-menu .bb-dropdown-item > a:focus,
.bb-dropdown-menu.dropdown-menu .bb-dropdown-item > .bb-btn-secondary:hover,
.bb-dropdown-menu.dropdown-menu .bb-dropdown-item > .bb-btn-secondary:focus,
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus,
.ui-state-highlight, .ui-widget-content .ui-state-highlight {
    background-color: $grey4;
    border-color: $grey3;
    color: $grey2;
}

/* that's just idiotic why would you do that */
#courses #coursesContainer .row:hover { background-color: $grey1; }
#courses #coursesContainer .row:nth-child(2n+1):hover { background-color: $grey2; }
#courses #communitiesContainer .row:hover { background-color: $grey1; }
#courses #communitiesContainer .row:nth-child(2n+1):hover { background-color: $grey2; }
#courses #advisoryContainer .row:hover { background-color: $grey1; }
#courses #advisoryContainer .row:nth-child(2n+1):hover { background-color: $grey2; }
#courses #athleticsContainer .row:hover { background-color: $grey1; }
#courses #athleticsContainer .row:nth-child(2n+1):hover { background-color: $grey2; }

/* some stupid stuff the default stylesheet has */
#site-login-input .textfield input {
    color: $white;
}

/* override default stylesheet !importants */
.white-bgc, .sec-15-bgc, .subnavbar {
    background-color: $black !important;
    border-color: $grey1 !important;
    color: $white;
}
#site-nav ul.topnav > li > a.active,
#site-nav div.subnav ul > li > a.active {
    background-color: $grey1 !important;
    background-image: none;
    border-color: $grey2 !important;
    color: $white;
}
.pri-50-bgc, .sec-25-bgc, .sec-25-bgc-hover:hover {
    background-color: $grey2 !important;
    border-color: $grey3 !important;
    color: $white;
}
.black-fgc, .pri-100-fgc,
#site-nav ul.topnav li a.active span.title,
.modal-header, .modal-header a:not(:hover) {
    color: $white !important;
}
.select-directory-link.pri-100-bgc {
    background-color: $grey4 !important;
}
.white-fgc {
    color: $black !important;
}
/* one exception to the above, of course */
.month.white-fgc {
    color: $white !important;
}

/* hacks to get rid of inline styles */
/* resources page */
.col-md-12 .board-container.isotope .containerFull.whiteContainer1.wBtn > p:last-child {
    color: $white !important;
}
.col-md-12 .board-container.isotope .containerFull.whiteContainer1.wBtn {
    background-color: $grey2 !important;
}
/* topics page */
#academicclassmaincontainer .col-md-3:not(.span3) > div,
#academicclassmaincontainer > div:first-child > div:first-child:not(.row),
#topic-detail-container .col-md-3 > div:not(.sortContainer),
#topic-detail-container .col-md-3 > div.sortContainer > div,
#topic-detail-container .col-md-6 > div:not(.sortContainer),
#topic-detail-container .col-md-6 > div.sortContainer > div,
#topic-detail-container .col-md-9 > div:not(.sortContainer),
#topic-detail-container .col-md-9 > div.sortContainer > div,
#topic-detail-container .col-md-12 > div:not(.sortContainer),
#topic-detail-container .col-md-12 > div.sortContainer > div {
    background-color: $grey1 !important;
}
#academicclassmaincontainer .fadeBox > #more {
    color: $white !important;
}
/* my day -> schedule -> schedule reports */
#rpttop td, #rpttop div, #rpttop span, #rpttop p, #rpttop a {
    color: $white !important;
}
/* e.g. advisory page */
#grouppagemaincontainer > div:first-child > div:first-child {
    background-color: $grey1 !important;
}
/* scoreboard */
.score-container > .containerFull > div:first-child > div:nth-child(2) {
    background-color: $grey2 !important;
}
.score-container h2, .score-container h5, .score-container h6 > a {
    color: $white !important;
}

/* only real way to handle some images */
.eventBack {
    -webkit-filter: invert(100%) hue-rotate(180deg);
    filter: invert(100%) hue-rotate(180deg);
}

/* colors! */
.alert-info, .btn-info, .label-info, .label-todo, .bb-badge-info,
#schedule-maker-bulletin .emergency-bulletin-container, #emergency-bulletin .emergency-bulletin-container, #main-bulletin .main-bulletin-container {
    background-color: mix($blue, $black, 50%);
    border-color: $blue;
    color: mix($blue, $white, 50%);
}
.btn-info:hover, .btn-info:focus {
    color: mix($blue, $black, 50%);
    border-color: mix($blue, $white, 50%);
    background-color: $blue;
}
.alert-success, .btn-success, .label-success, .bb-badge-success {
    background-color: mix($green, $black, 50%);
    border-color: $green;
    color: mix($green, $white, 50%);
}
.btn-success:hover, .btn-success:focus {
    color: mix($green, $black, 50%);
    border-color: mix($green, $white, 50%);
    background-color: $green;
}
.btn-warning, .label-warning {
    background-color: mix($yellow, $black, 50%);
    border-color: $yellow;
    color: mix($yellow, $white, 50%);
}
.btn-warning:hover, .btn-warning:focus {
    color: mix($yellow, $black, 50%);
    border-color: mix($yellow, $white, 50%);
    background-color: $yellow;
}
.btn-danger, .label-danger {
    background-color: mix($red, $black, 50%);
    border-color: $red;
    color: mix($red, $white, 50%);
}

a { color: $blue; }

}
